<h2>All Tags</h2>

<ul>
<% @tags.each do |tag| %>
    <li>
        <%= link_to tag, tag_path(tag) %> | 
        <%= link_to "delete", tag_path(tag), method: :delete, data: {confirm: "Really delete the tag?"} %>
    </li> 
<% end %>
</ul>

<p><%= link_to "<< Back to Articles List", articles_path %></p>
